<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TestDB" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=TestDB; User ID=sa;Password=pw@2013" />
    <add name="ConsoleApplication1.Properties.Settings.TestDBConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TestDB;Persist Security Info=True;User ID=sa;Password=pw@2013"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>